.watch-video {
  padding: 24px;
}
.video {
  border-radius: 16px;
  margin-left: 48px;
}
.comment-container {
  padding: 0 24px 48px 24px;
  margin-left: 48px;
}
.comment-section {
  background-color: rgb(229, 225, 225);
  border-radius: 14px;
}
.heading {
  margin-bottom: 24px;
}
.user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 16px;
}

.comment {
  padding: 8px;
  display: flex;
  align-items: center;
}
.username {
  font-weight: bold;
}
.usertext {
  font-size: 14px;
}

.comment-replies {
  margin-left: 24px;
  border-left: 1px solid black;
}

.video-section {
  display: flex;
  align-items: center;
}
.chat-section {
  padding: 24px;
  border-radius: 16px;
  margin-left: 48px;
  background-color: rgb(229, 225, 225);
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  position: relative;
}
